.food-display {
    width: 90%;
    margin: 50px auto;
}

.food-display h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #262626;
}

/* Grid Layout */
.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
}