*{
  margin:0;
  padding:0;
  scroll-behavior: smooth;
  box-sizing:border-box;
}
.body{
  min-height:100vh;
  display:grid;
  background:#e2d4ff;
}
.a{
  text-decoration: none;
  color:inherit;
  list-style-type:none;

}

